# ASSIGNMENT 1

## 1) Create a variable x and assign it the value 5. print the value of x

In [6]:
x=5

In [7]:
print(x)

5

## 2) creat two variables a and b, and assign them value 3 and 2 respectively. add a and b together and print the result

In [17]:
a=3
b=2

In [18]:
print(a+b)

5

## 3) Create a variable pi and assign it the value 3.14159. Print the value of pi.

In [19]:
pi=3.14159

In [20]:
print(pi)

3.14159

## 4) Create a variable radius and assign it the value 5. Calculate the area of a circle with radius radius using the formula pi * radius ** 2 and print the result.

In [22]:
radius=5  ## given radius

In [23]:
## calculate the area of circle

In [24]:
pi=3.14

In [25]:
area= pi*radius**2

In [27]:
print(f"the area ofcircle with radius {radius} is {area:.2f} square units" )

the area ofcircle with radius 5 is 78.50 square units

## 5) Create a variable name and assign it your name as a string. Print a greeting using your name, such as "Hello, [name]!""

In [30]:
name = "GOPAL"

In [35]:
print(f"Hello, {name}!")

Hello, GOPAL!

## 6) Create a variable age and assign it your age as an integer. Print a sentence that includes your age, such as "I am [age] years old."

In [36]:
age=28

In [37]:
print(f"I am {age} years old.")

I am 28 years old.

## 7) Create a variable height and assign it your height in meters as a float. Print a sentence that includes your height, such as "I am [height] meters tall.""

In [41]:
height= 1.67 ## height in meters

In [42]:
print(f"I am {height} meters tall.")

I am 1.67 meters tall.

## 8) Create a variable sentence and assign it a sentence as a string. Print the first letter of the sentence.

In [59]:
 sentence = 'One among the popular courses in today world is AI'

In [60]:
print("The first letter of the sentence is:", sentence[0])

The first letter of the sentence is: O

## 9)  Create a variable sentence and assign it a sentence as a string. Print the last letter of the sentence.

In [61]:
sentence='I am Gopal from mechanical department'

In [63]:
print('The last letter of the sentence is:', sentence[-1])

The last letter of the sentence is: t

## 10) Create a variable sentence and assign it a sentence as a string. Print the length of the sentence.

In [64]:
sentence = 'The development of AI is tremendus over a decate'

In [71]:
print(f'The length of the string is: {len(sentence)}characters.')

The length of the string is: 48characters.